<a href="/islaiduTipai/edit">Pridėti naują</a>
<ul>
    {{#each tipai}}
    <li><a href="/islaiduTipai/edit/{{id}}">{{pavadinimas}}</a> <a href="/islaiduTipai/delete/{{id}}">X</a></li>
    {{/each}}
</ul>
<a href="/">Back</a>