<h1>Mokėjimų tipas</h1>
<form action="/mokejimuTipai/save" method="post">
{{#if tipas}}
    <input type="hidden" name="id" value="{{tipas.id}}">
{{/if}}
    <input type="text" name="pavadinimas" {{#if tipas}}value="{{tipas.pavadinimas}}"{{/if}}>
    <input type="submit" value="Save">
</form>
<a href="/mokejimuTipai">Cancel</a>